

/*.conatiner {
	position: relative;

}*/
img {
	position: absolute;
	margin: 0 auto;

}

/*.index {
	z-index: -1;
	visibility: 50%;

}

.quiz {
	z-index:-2;

}

.answers {
	z-index: -3;

}

.shop {
	z-index: -4;

}
*/

.row {
	color: black;
	margin-top: 10%;
	b/*order: 1px solid orange;*/
}

.KATIE{
	margin-top: 20%;
	border-radius: .5em;
	background-color: rgb(0,175,171);
	width: 120px;
	height: 20px;
	margin-left: -100px;
	text-align: center;
/*	border: 1px solid black;*/
}

.KATIE:hover {
	cursor: pointer;
}

/*.button {
	border-radius: .2em;
	height: 50px;
	width: 50px;
	margin-left: 300px;
	position: relative;
	border: 1px solid black;
}


*/
