@fontface{
	font-family: 'OstrichRegular';
  	src: url('../fonts/OstrichRegular.ttf') format('ttf'),
}

.conatiner {
	position: relative;

}
img {
	position: absolute;
	/*width: 100%;
	height: 100%;*/
	margin-left: 150px;

}

.index {
	z-index: -1;
	visibility: 50%;

}

.quiz {
	z-index:-2;

}

.answers {
	z-index: -3;

}

.shop {
	z-index: -4;

}
/*
.row {
	opacity: -10;
}

.row1 {
	opacity: -10;
}

.row2 {
	opacity: -10;
}

.row3 {
	color: orange;
	padding: 5px;
	border: 1px solid orange;
}
*/